
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
:root{
    --main-color:#d5660b;
    --sub-color:#ffae00;
    --text-color:white;
    --bg-color:rgb(201, 77, 27);
}
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
}
.btn{
    background-color:transparent;
    padding: 15px 30px;
    border: 2px solid var(--sub-color);
    border-radius:30px;
    color:var(--sub-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color:white;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section-pading{
    padding:80px 0;
}
.justify-content{
    justify-content:space-between;
}
.container{
    margin:auto;
    max-width: 1200px;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.top{
    background-color:transparent;
    position: fixed;
    width: 100vw;
    z-index: 999;
}
.top::before{
    content:'';
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    background-color:var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
}
.top.active::before{
    transform: translateY(0);
}
.top .logo img{
    width:80px;
    cursor: pointer;
}
.top .menu-bar{
    display:flex;           /*cach can giua */
    justify-content:center;
    align-items:center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.top .menu-bar span{
    display:block;
    height: 2px;
    width:40px;
    background-color:var(--sub-color);
    position: relative;
}
.top .menu-bar.active span{
    background-color:transparent;
}
.top .menu-bar.active span::before{
    transform: rotate(-135deg);
}
.top .menu-bar.active span::after{
    transform: rotate(135deg);
}
.top .menu-bar span::before{
    height:100%;
    width:100%;
    content:'';
    display:block;
    position:absolute;
    transform:translateY(-10px);
    background-color:var(--sub-color);
    transition: all 0.5s ease;

}
.top .menu-bar span::after{
    height:100%;
    width:100%;
    content:'';
    display:block;
    position:absolute;
    transform:translateY(10px);
    background-color:var(--sub-color);
    transition: all 0.5s ease;
}
.top .menu-bar.active{
    position:fixed;
    padding:20px 0;
    top:30px;
    right:0;
    transform:translateX(-200px);
    z-index: 100;
}
/* ----- */
.top .menu-items{
    position: fixed;
    width:250px;
    height:100vh;
    background-color:var(--main-color);
    right:0;
    top:0;
    padding:100px 50px;
    transform: translateX(100%);
    transition: all 0.3s ease;
}
.menu-items.active{
    transform: translateX(0);
    z-index: 10;
}
.top .menu-items a{
    color:var(--text-color);
    line-height:40px;
    font-size:25px;
    font-family:playfair display ;
}
/* --------- */
.img-map{
    width:100%;
    margin-top: 50%;
    align-items:center;
}
/* -------- */
/* -------big-img----- */
.big-img {
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
.big-img::before{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("https://www.chudu24.com/wp-content/uploads/2018/04/11741218_1115687651780441_7345478003956553847_o.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -3;
    animation: in-out 10s infinite;
}
@keyframes in-out {
    0%,100%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.1);
    }
}
.big-img::after{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    opacity: 0.3;
    z-index: -2;
}
.big-img .big-img-content{
    text-align:center;
    max-width: 500px;
}
.big-img .big-img-content h2{
    font-size:50px;
    color:var(--text-color);
    font-family:playfair display ;
}
.big-img .big-img-content p{
    font-size:25px;
    color:var(--text-color);
    font-weight: bold;
}
/* ----------------------------------ABOUT----------------------- */
.about{
    width:100vw;
    background-color:var(--main-color);
}
.section-title{
    width:100%;
    text-align:center;
    margin-bottom: 30px;
}
.section-title h2{
    font-size:40px;
    color:var(--text-color);
    text-transform:uppercase;
}
.section-title h2::before{
    content:attr(data-title);
    display:block;
    color:var(--sub-color);
    font-size: 30px;
    font-weight: 600;
    font-family: playfair display;
}
.about .about-item h2{
    color:var(--text-color);
    font-size:35px;
}
.about .about-item p{
    font-size:18px;
    margin: 15px 0 30px;
    color: var(--text-color);
}
.about-item .about-item-img > img{
    width:100%;
    border-radius:10px;
}
.about-item{
    width:calc(100%/2);
    padding:15px;
}
.about-item-img{
    position: relative;

}
.about-item-img span{
    position: absolute;
    top:50%;left:50%;
    font-size:30px;
    font-weight: bold;
    color:var(--text-color);
    font-family: playfair;
    transform:translate(-50%, -50%);
}
.about-item-img::before{
    content:'';
    position: absolute;
    display:block;
    width:100px;
    height:100px;
    border:5px solid var(--sub-color);
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    /* transform:translate(-50%, -50%); */
    animation: xoayvong 5s infinite;
    animation-timing-function: cubic-bezier(0.23, 0.21, 0.48, 0.45);
}
@keyframes  xoayvong{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/* --------------menu---------------------- */
.menu{
    background-color:var(--bg-color);
}
.menu-title{
    width:100%;
    text-align:center;
}
.menu-title .menu-button{
    background-color:transparent;
    padding:10px;
    margin:15px;
    border:none;
    font-size: 25px;
    color:var(--text-color);
    cursor: pointer;
}
.menu-title .menu-button.active{
    color:var(--sub-color);
}
.menu-title .menu-button:hover{
    color:var(--sub-color);
}
.food-items{
    width:50%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 15px;
    position:relative;
    cursor: pointer;
}
.food-items::before{
    content:'';
    width:95%;
    position: absolute;
    display:block;
    left:15px;
    bottom:0;
    border-bottom: 0.5px solid var(--text-color);
}
.food-items:hover .food-item p{
    color:var(--sub-color);
}
.food-items:hover .food-price p{
    color:var(--text-color);
}
.food-item{
    display:flex;
    align-items:center;
}
.food-item img{
    width:120px;
    height: 100px;
    margin-right:25px ;
    border-radius: 5px;
}
.food-item p{
    color:var(--text-color);
    transition: all 0.3s ease;
    font-size: 20px;
}
.food-price p{
    color:var(--sub-color);
    font-size: 20px;
    transition: all 0.3s ease;
}
/* --------------- */
.menu-item-content{
    display:none;
}
.menu-item-content.active{
    display:flex;
    flex-wrap: wrap;
}

/* -----------------phan-hoi--------------- */
.phan-hoi{
    background-color:var(--main-color);
}
.phan-hoi-items{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.phan-hoi-item{
    width:calc(100%/3 - 30px);
    margin: 0 15px;
    border:1px solid var(--bg-color);
    padding:10px;
    box-shadow:0 2px 3px 2px rgba(41, 34, 28,0.3);
    border-radius:5px;
    cursor: pointer;
}
.phan-hoi-item:hover img{
    border-color: var(--sub-color);
}
.phan-hoi-item h2{
    color:var(--text-color);
    font-size:20px;

}
.phan-hoi-item span{
    color:var(--text-color);
}
.phan-hoi-item p{
    color:var(--text-color);
    font-size: 18px;
    margin:15px 0;
    padding:0;
}
.phan-hoi-item img{
    width:100px;
    height:150px;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size:cover;
    border-radius: 50%;
    border:3px solid var(--bg-color);
    transition: all 0.5s ease;
}
.phan-hoi-img{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.phan-hoi-star i{
    color:yellow;
}
/* ------------------------team---------- */
.team{
    background-color:var(--bg-color);
}
.team-items{
    width:calc(100%/3);
    padding:15px;
    position: relative;
    cursor: pointer;
}
.team-items img{
    width:100%;
    border-radius: 10px;
    box-shadow:0 2px 3px 2px rgba(41, 34, 28,0.3);

    transition: all 0.5s ease;
}
.team-items:hover img{
    transform: scale(1.05);
}
.team-items-text{
    position:absolute;
    padding:15px 0;
    right:30px;
    left:30px;
    bottom:0;
    background-color:var(--main-color);
    text-align:center;
    border-radius:10px;
    transform: translateY(50%);
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow:0 1px 1px 1px rgba(41, 34, 28,0.3);
}
.team-items:hover .team-items-text{
    transform: translateY(-50%);
    background-color: var(--sub-color);
}
.team-items-text h2{
    color:var(--text-color);
}
.team-items-text span{
    color:var(--text-color);
}
/* -------------------footer-------------- */
.footer{
    background-image: url(https://m.media-amazon.com/images/S/assets.wholefoodsmarket.com//content/35/12/c86b76684a34b429b520a7a56409/22-cen-wfm-mar-q1-springrenewal-img-card-overlay._TTW_._CR0,0,2160,1296_._SR1500,900_._QL100_.jpg);
    padding-top:80px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}
.footer::before{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    top:0;
    opacity:0.3;
}
.footer-item{
    text-align:center;
    width:calc(100%/3);
    z-index: 1;
}
.footer-social i{
    color:white;
    font-size:25px;
    margin-right: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.footer-social i:hover{
    color:var(--sub-color);
}
.footer h2{
    color:var(--text-color);
    font-size:20px;
}
.footer p{
    color:var(--text-color);
    font-size: 18px;
    margin:15px 0;
}
.footer-coppyright{
    margin-top: 50px;
    width:100%;
    height:200px;
    border-top: 2px solid black;
    align-items:center;
    z-index: 2;
}
.footer-coppyright h2{
    margin-top: 10px;
    font-size:14px;
    text-align:center;
    color:white;
}