@media (max-width: 768px) {
    .top{
        padding:0 12px;
    }
    .about-item{
        width:100%;
    }
    .food-items{
        width:100%;
    }
    .phan-hoi-item{
        width:100%;
        margin-bottom: 20px;
    }
    .team-items{
        margin: auto;
        width:90%;
        margin-bottom:50px;
    }
}